.changePass{
    height: 100vh;
    margin: 0;
}

.changePass .container{
    background: #ffbf00;
  width: 30%;
  padding-top: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-bottom: 1.3rem;
  position: absolute;
  height: 60%;
  left: 30%;
  top: 20%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.changePass .container h2{
    margin-bottom: 1.5rem;
}
.changePass .container label{
    font-size: 1.2rem;
    font-weight: 500;
}
.changePass .container form .pass_btn{
    background: black;
    color: white;
    padding: 8px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.changePass .container form .pass_btn:hover{
    background: black;
    color: #ffbf00;
}
.changePass .container form .pass_btn:active{
    background: #d7a306;
}