.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
  background: transparent;
  padding: 1.5rem 1rem;
  top: 0;
  z-index: 999;
}

.navbar a img {
  height: 2.5rem;
  width: 2.5rem;
}

.navbar .brandName a {
  display: flex;
  align-items: center;
}
.navbar .brandName {
  display: flex;
  align-items: center;
}
.navbar .brandName p {
  color: white;
  margin-left: 4px;
  font-size: 1.2rem;
}
.navbar .brandName p span {
  color: #ffbf00;
  margin-left: 3px;
  font-weight: 600;
}

.navbar .getStarted a {
  cursor: pointer;
  position: relative;
  padding: 0.8rem 1.3em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  width: 3.3rem;
  z-index: 1;
  color: white;
  border: 2px solid white;
  border-radius: 34px;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.navbar .getStarted a::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 52.5px;
  height: 15px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #ffbf00;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.navbar .getStarted a:hover::before {
  scale: 3;
}

.navbar .getStarted a:hover {
  color: black;
  border: 2px solid #ffbf00;
  scale: 1.1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.navbar .getStarted a:active {
  scale: 1;
}

.mobile-menu-icon {
  display: none;
}


@media (max-width: 320px) {
}

/* For screens between 321px and 480px */
@media (min-width: 321px) and (max-width: 480px) {
}

/* For screens between 481px and 600px */
@media (min-width: 481px) and (max-width: 600px) {
}

/* For screens between 601px and 768px */
@media (min-width: 601px) and (max-width: 768px) {
}

/* For screens between 769px and 900px */
@media (min-width: 769px) and (max-width: 900px) {
}

/* For screens between 901px and 1024px */
@media (min-width: 901px) and (max-width: 1024px) {
}

/* For screens between 1025px and 1200px */
@media (min-width: 1025px) and (max-width: 1200px) {
  
}

/* For screens larger than 1200px */
@media (min-width: 1201px) {
 .navbar{
  
 }
}
