.navbarComponent{
  background: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem;
}
.navbarComponent .familyOneForNavbar{
  display: flex;
  align-items: center;
}
.navbarComponent .familyOneForNavbar img{
  width: 8rem;
  /* background: red; */
  
}