.amountSec{
    margin: 0;
    outline: 0;
  }
  .amountWallet .wallet{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .amountWallet .wallet a img{
    height: 2.5rem;
    width: 2.5rem;
  }
  .amountWallet .wallet a {
    display: flex;
    align-items: center;
  }
  .amountWallet .wallet {
    display: flex;
    align-items: center;
  }
  .amountWallet .wallet p {
    color: white;
    margin-left: 4px;
    font-size: 1.2rem;
  }
  .amountWallet .wallet p span {
    color: #ffbf00;
    margin-left: 3px;
    font-weight: 600;
  }
  .amountWallet .dash-board{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    background: #ffbf00;
    padding-top: 8px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 8px;
    transition: all 400ms ease;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
  }
  .amountWallet .dash-board:hover{
    background: white;
    color: orange;
  }
  .amountSec .btc{
  }
  .amountSec .btc .much{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  .amountSec .amountBtc{
    background-color: white;
    padding: 3rem 2rem;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 25%;
    box-shadow: 0 1.25rem 1.8 rgba();
    max-width: 37.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}