.tierOneDashBoard {
  color: white;
  border: 2px solid #ffbf00;
  height: 82vh;
  margin-top: .5rem;
  background: #faf9f6;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
}
.tierOneDashBoard .upgradeOne {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
}
.tierOneDashBoard .tierOneDashBoardForm {
  background-color: #ffbf00;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  width: auto;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.tierOneDashBoard
  .tierOneDashBoardForm
  .famuly
  .country
  .codePhone
  .phone_country_code {
  width: 3.5rem;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .country .codePhone {
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  width: auto;
  padding: 8px;
  color: black;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .country {
  display: grid;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .country label {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 500;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .country .input {
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  width: auto;
  color: black;
  padding: 8px;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 0.8rem;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .city {
  display: grid;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .city label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.tierOneDashBoard .tierOneDashBoardForm .famuly .city input {
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  width: auto;
  padding: 8px;
  color: black;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 0.8rem;
}

.tierOneDashBoard .tierOneDashBoardForm .postal input {
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  width: auto;
  padding: 8px;
  color: black;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 0.2rem;
}
.tierOneDashBoard .tierOneDashBoardForm .postal label {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.tierOneDashBoard .tierOneDashBoardForm .postal {
  display: grid;
}
.tierOneDashBoard .tierOneDashBoardForm .formBtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.tierOneDashBoard .tierOneDashBoardForm .formBtn:hover::before {
  transform: translateX(0);
}
.tierOneDashBoard .tierOneDashBoardForm .formBtn:hover {
  color: #ffbf00;
}
.tierOneDashBoard .tierOneDashBoardForm .formBtn {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  cursor: pointer;
  position: relative;
  background: white;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  margin-top: 0.5rem;
}
