.container {
  height: 100vh;
  background: black;
  margin: 0;
  padding: 1.2rem;
}
.container .main .profile {
  border: 2px solid #ffbf00;
  display: grid;
  height: 80vh;
  background: black;
  grid-template-columns: 30% 60%;
}
.container .main  .myAcct {
  display: flex;
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.container .main .profile .myImg {
  background: white;
  margin-right: 1.5rem;
}

.container .main .profile .img-bg {
  background: #ee9b00;
}

.container .main .profile .myImg img {
  margin-left: 9rem;
  margin-top: 7rem;
  margin-bottom: -2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid #ffbf00;
}
.container .main .profile .myImg .p_name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

.container .main .profile .myImg .role {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.container .main .profile .myImg .role .the_role {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}
.container .main .profile .myImg .role .official_role {
  color: #ffbf00;
  font-size: 1.5rem;
  font-weight: 500;
  padding-left: 8px;
}
.container .main .profile {
  margin-left: 2rem;
}

.container .main .profile .my_form {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.2rem;
  width: 100%;
}
.container .main .profile .my_form .photo_name {
  display: grid;
  gap: .8rem;
}

.container .main .profile .my_form .photo_name .changePhoto {
  display: grid;
  gap: .8rem;
}

.container .main .profile .my_form .photo_name .changePhoto label {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.container .main .profile .my_form .photo_name .changePhoto input {
  padding: 8px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 7px;
}

.container .main .profile .my_form .photo_name .name{
  display: grid;
  gap: .8rem;
}


.container .main .profile .my_form .photo_name .name label {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.container .main .profile .my_form .photo_name .name input {
  padding: 8px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 7px;
}
.container .main .profile .my_form .email_num {
  display: grid;
  gap: 1rem;
}
.container .main .profile .my_form .email_num .email {
  display: grid;
  gap: .8rem;
}

.container .main .profile .my_form .email_num .email label {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.container .main .profile .my_form .email_num .email input {
  padding: 8px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 7px;
}

.container .main .profile .my_form .email_num .num {
  display: grid;
  gap: .8rem;
}

.container .main .profile .my_form .email_num .num label {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.container .main .profile .my_form .email_num .num input {
  padding: 8px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  background: white;
  font-weight: 500;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 7px;
}

.container .main .profile form .bio label {
  font-size: 1.2rem;
  margin-left: 1.6rem;
  color: white;
  font-weight: 500;
}
.container .main .profile form .bio textarea {
  height: 20vh;
  padding-top: 1rem;
  padding-left: 8px;
  padding-bottom: 1rem;
  padding-right: 8px;
  border: 1px solid #ffbf00;
  background: white;
  border-radius: 5px;
  width: 98%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  resize: none;
  color: black;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 1.6rem;
}
.container .main .profile form .update_profile {
  width: 100%;
  padding: 8px;
  margin-top: 1rem;
  margin-left: 1.6rem;
  background: #ffbf00;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.container .main .profile form .update_profile:hover{
  background: whitesmoke;
  color: #ee9b00;
}

@media screen and (min-width: 320px) and (max-width: 480px){
  .container {
    height: 200vh;
    background: black;
    margin: 0;
    padding: .8rem;
  }
  .container .main .profile {
    border: 2px solid #ffbf00;
    display: grid;
    height: 180vh;
  }
  .container .main  .myAcct {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .container .main .profile .myImg {
    background: white;
    width: 333%;
    height: 30%;
  }
  
  .container .main .profile .img-bg {
    background: #ee9b00;
  }
  
  .container .main .profile .myImg img {
    margin-left: 10rem;
    margin-top: 7rem;
    margin-bottom: -2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #ffbf00;
  }
  .container .main .profile .myImg .p_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .container .main .profile .myImg .role {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .container .main .profile .myImg .role .the_role {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .container .main .profile .myImg .role .official_role {
    color: #ffbf00;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 8px;
  }
  
  .container .main .profile .my_form {
    padding: .8rem;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 71%;
    width: 89%;
    margin-left: -8.5rem;
  }
  .container .main .profile .my_form .photo_name {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .photo_name .changePhoto {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .photo_name .changePhoto label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .photo_name .changePhoto input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
  }
  
  .container .main .profile .my_form .photo_name .name{
    display: grid;
    gap: .8rem;
  }
  
  
  .container .main .profile .my_form .photo_name .name label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .photo_name .name input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
  }
  .container .main .profile .my_form .email_num {
    display: grid;
    gap: 1rem;
  }
  .container .main .profile .my_form .email_num .email {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .email_num .email label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .email_num .email input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
  }
  
  .container .main .profile .my_form .email_num .num {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .email_num .num label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .email_num .num input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
  }

  .container .main .profile form .bio{
    position: absolute;
    top: 140%;
    left: 0%;
  }
  
  .container .main .profile form .bio label {
    font-size: 1.2rem;
    margin-left: 1.6rem;
    color: white;
    font-weight: 500;
  }
  .container .main .profile form .bio textarea {
    height: 20vh;
    padding-top: 1rem;
    padding-left: 8px;
    padding-bottom: 1rem;
    padding-right: 8px;
    border: 1px solid #ffbf00;
    background: white;
    border-radius: 5px;
    width: 91%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    resize: none;
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1.6rem;
  }
  .container .main .profile form .update_profile {
    width: 89%;
    padding: 8px;
    position: absolute;
    top: 180%;
    left: 0%;
    background: #ffbf00;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
  }
  
  .container .main .profile form .update_profile:hover{
    background: whitesmoke;
    color: #ee9b00;
  }
  
}

@media screen and (max-width: 320px){
  .container {
    height: 200vh;
    background: black;
    margin: 0;
    padding: .8rem;
  }
  .container .main .profile {
    border: 2px solid #ffbf00;
    display: grid;
    height: 180vh;
  }
  .container .main  .myAcct {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .container .main .profile .myImg {
    background: white;
    width: 333%;
    height: 30%;
  }
  
  .container .main .profile .img-bg {
    background: #ee9b00;
  }
  
  .container .main .profile .myImg img {
    margin-left: 6rem;
    margin-top: 7rem;
    margin-bottom: -2rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #ffbf00;
  }
  .container .main .profile .myImg .p_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .container .main .profile .myImg .role {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .container .main .profile .myImg .role .the_role {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .container .main .profile .myImg .role .official_role {
    color: #ffbf00;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 8px;
  }
  
  .container .main .profile .my_form {
    padding: .8rem;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    top: 71%;
    width: 89%;
    left: 45%;
  }
  .container .main .profile .my_form .photo_name {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .photo_name .changePhoto {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .photo_name .changePhoto label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .photo_name .changePhoto input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
    width: 90%;
  }
  
  .container .main .profile .my_form .photo_name .name{
    display: grid;
    gap: .8rem;
  }
  
  
  .container .main .profile .my_form .photo_name .name label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .photo_name .name input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
    width: 90%;
  }
  .container .main .profile .my_form .email_num {
    display: grid;
    gap: 1rem;
  }
  .container .main .profile .my_form .email_num .email {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .email_num .email label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .email_num .email input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
    width: 90%;
  }
  
  .container .main .profile .my_form .email_num .num {
    display: grid;
    gap: .8rem;
  }
  
  .container .main .profile .my_form .email_num .num label {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  .container .main .profile .my_form .email_num .num input {
    padding: 8px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    background: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 7px;
    width: 90%;
  }

  .container .main .profile form .bio{
    position: absolute;
    top: 140%;
    left: 0%;
  }
  
  .container .main .profile form .bio label {
    font-size: 1.2rem;
    margin-left: 1.6rem;
    color: white;
    font-weight: 500;
  }
  .container .main .profile form .bio textarea {
    height: 20vh;
    padding-top: 1rem;
    padding-left: 8px;
    padding-bottom: 1rem;
    padding-right: 8px;
    border: 1px solid #ffbf00;
    background: white;
    border-radius: 5px;
    width: 80%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    resize: none;
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 1.6rem;
  }
  .container .main .profile form .update_profile {
    width: 89%;
    padding: 8px;
    position: absolute;
    top: 180%;
    left: 0%;
    background: #ffbf00;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
  }
  
  .container .main .profile form .update_profile:hover{
    background: whitesmoke;
    color: #ee9b00;
  }
  
}
