.navList{
    margin-top: 1rem;
}
.navList ul {
    list-style-type: none;
    display: grid;
    gap: 4rem;
}
.navList ul li a {
    color: rgb(160, 158, 158);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.navList ul li a .icon{
    color: #ffbf00;
    padding-right: 8px;
}
.navList .contact a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-top: 13rem;
    
}
.navList .contact a .icon{
    color: #ffbf00;
    padding-right: 8px;
}
.navList .contact a .get:hover{
    color: whitesmoke;
}
.navList .contact a .get{
    color: rgb(160, 158, 158);
    padding-right: 8px;
    transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.navList .contact a .get.active{
    color: white;
}
.navList ul li a:hover {
    color: whitesmoke;
  }
  
  .navList ul li a.active {
    color: white;
  }


@media screen and (min-width: 320px) and (max-width: 480px){
    .navList{
        margin-top: 1rem;
    }
    .navList ul {
        list-style-type: none;
        display: grid;
        gap: 3rem;
        margin-left: -1rem;
        margin-top: 5px;
    }
    .navList ul li a {
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }
    .navList ul li a .icon{
        color: #ffbf00;
        padding-right: 8px;
    }
    .navList ul li a .home {
        display: none;
    }
    .navList .contact a{
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-top: 10rem;
        
    }
    .navList .contact a .icon{
        color: #ffbf00;
        padding-right: 8px;
        margin-left: -1rem;
    }
    .navList .contact a .get{
        display: none;
    }
}