.loginAspect {
}
.loginAspect .loginHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1.2rem;
}
.loginAspect .loginHeader .login-brand a {
  display: flex;
  align-items: center;
}
.loginAspect .loginHeader .login-brand a img {
  height: 2.5rem;
  width: 2.5rem;
}
.loginAspect .loginHeader .login-brand p {
  color: white;
  margin-left: 4px;
  font-size: 1.2rem;
  font-weight: 600;
}
.loginAspect .loginHeader .login-brand p span {
  color: #ffbf00;
  margin-left: 3px;
  font-weight: 700;
}
.loginAspect .loginContainer {
  background: #ffbf00;
  position: absolute;
  top: 20%;
  height: 70%;
  width: 40%;
  padding-top: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  left: 30%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.loginAspect .loginContainer .google_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  width: 34rem;
  background: white;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  font-size: 1.3rem;
  font-weight: 600;
}
.loginAspect .loginContainer .google_btn:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: black;
  color: white;
}
.loginAspect .loginContainer .google_btn img {
  height: 3rem;
  width: 3rem;
}
.loginAspect .loginContainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginAspect .loginContainer form {
  margin-top: 1rem;
}
.loginAspect .loginContainer form .inputName {
  display: grid;
  gap: 8px;
}
.loginAspect .loginContainer form label {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
.loginAspect .loginContainer form .inputName input {
  padding: 8px;
  height: 1.5rem;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
  background: white;
}
.loginAspect .loginContainer form .pass_input input {
  /* margin-top: 5px;
    padding-top: 4px;
    padding-left: 7px;
    padding-bottom: 4px;
    padding-right: 7px;
    height: 1.5rem;
    width: 87%;
    font-size: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
    margin-bottom: 1rem; */
}

.loginAspect .loginContainer form .submit {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  cursor: pointer;
  position: relative;
  background: white;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  margin-top: 2rem;
}

.loginAspect .loginContainer form .submit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.loginAspect .loginContainer form .submit:hover::before {
  transform: translateX(0);
}
.loginAspect .loginContainer form .submit:hover {
  color: #ffbf00;
}

.loginAspect .loginContainer .forgot-pass {
  color: white;
position: absolute;
top: 67%;
 margin-bottom: 5rem;
}

.loginAspect .loginContainer .home-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.loginAspect .loginContainer .home-reg a {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}
.loginAspect .loginContainer .home-reg a:hover {
  color: black;
}

.loginAspect .loginContainer .home-reg .reg a {
  padding-left: 5px;
}

/* ////////////////////////External Paasword input//////////////////////////////////////// */

.password {
  position: relative;
}

.pass_temp {
    margin-top: 8px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 4px;
  padding: 8px;
  box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 20px;
  background: transparent;
  letter-spacing: 1px;
  
}

.icon {
  cursor: pointer;
}

/* Style for the eye icons */
.icon {
  vertical-align: middle;
  color: #888;
}

/* Style for the eye icons on hover */
.icon:hover {
  color: #333;
}
