.verify_us{
    margin: 0;
}
.verify_us .users{
   position: absolute;
   top: 30%;
   background: #ffbf00;
   width: 100%;
}
.verify_us .users .acct{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.verify_us .users .acct_bellow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 3rem;
}
.verify_us .users .btn-primary{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    margin-left: 45%;
    margin-bottom: 3rem;
}

.verify_us .users .btn-primary:hover {
    box-shadow: .5px .5px 150px #252525;
  }

  
.type1::after {
    content: "Thanks";
    height: 50px;
    width: 150px;
    background-color: black;
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1::before {
    content: "Verify";
    height: 50px;
    width: 150px;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  .type1:hover::after {
    transform: translateY(0) scale(1.2);
  }
  
  .type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
  }