.Aspect2 {
  background: white;
  height: 90vh;
}
.Aspect2 h1 {
  margin-left: 9rem;
  font-size: 3rem;
  user-select: none;
}
.Aspect2 .Aspect2-send {
  margin-bottom: 4rem;
}
.Aspect2 span {
  color: #ffbf00;
}

.Aspect2 .crypto {
  margin-top: 1rem;
  margin-left: -1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contents {
  margin: 1rem 2rem 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
}

.contents .split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.contents .split .icon {
  background: black;
  height: 3rem;
  width: 3rem;
  color: #ffbf00;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.contents .innerContent {
  margin-left: -13rem;
}
.contents .innerContent .content-innerContent {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #1b1212;
  text-transform: capitalize;
}

.contents .innerContent .aspect {
  color: #333533;
}
.Aspect2 .get-start {
  margin-bottom: 3rem;
  padding: 0.8rem 1.3em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  cursor: pointer;
  z-index: 1;
  color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  overflow: hidden;
  width: 10rem;
  height: 1.2rem;
  background: black;
  border: 2px solid #ffbf00;
}
.Aspect2 .get-start::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 1rem;
  width: 3rem;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #ffbf00;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.Aspect2 .get-start:hover::before {
  scale: 0.8;
}
.Aspect2 .get-start:hover {
  color: #ffff;
  background: #ffbf00;
  scale: 1;
  border: 2px solid black;
}
.Aspect2 .get-start:active {
  scale: 1;
}
