@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  
}

html{
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #28282B;
    border-radius: 3px;
  }
  
}

section {
  margin-top: 2rem;
  height: 100vh;
}

a{
  user-select: none;
}
b{
  user-select: none;
}
img{
  user-select: none;
}

@media(max-width: 1200px) {
  /* body{
    width: 93%;
    overflow-x: hidden;
  } */
}